#home{
    color: white;
    opacity: 1;
}


.body{
    width: 70%;
    margin: 0 auto;
}

.heading-home {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #FFF8DC;
}
.explode{
    color: #8B0000;
}

.sub-heading {
    margin-bottom: 20px;
    color: #FFF8DC ;
}

.rules-heading {
    margin-top: 20px;
    margin-bottom: 10px;
}

.info {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-list, .rules-list {
    list-style-type: none;
    padding-left: 0;
}

.card-list li, .rules-list li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-list li span, .rules-list li span {
    margin-right: 10px;
    font-size: 1.8rem;
}

.hope {
    font-style: italic;
    color: #ADD8E6;
}


.how-card {
background-color: transparent;
width: 100%;
height: 200px;
border: 4px solid #f1f1f1;
perspective: 1000px;
margin:0 auto;
border-radius: 4px;
}

@media screen and (max-width: 968px) {
    .how-card {
        height: 250px; 
    }
}

@media screen and (max-width: 768px) {
    .how-card {
        height: 350px; 
    }
}

@media screen and (max-width: 580px) {
    .how-card {
        height: 450px;
    }
}

.how-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.how-card:hover .how-card-inner {
transform: rotateY(180deg);
}

.how-card-front, .how-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.how-card-front {
background-color: #FFF8DC;
color: black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
}

.how-card-back {
background-color: #8B0000;
color: white;
transform: rotateY(180deg);
padding: 8px;
}

.how-span{
    color: #8B0000;
    font-size: 40px;
}

.how-para {
    color: #FFF8DC;
    font-size: 1.3rem;
}

.rules-list {
list-style-type: none;
padding: 0;
}

.rules-list li {
color: #8B0000;
margin-bottom: 10px;
padding: 15px;
border-radius: 8px;
background-color: #FFF8DC;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rules-list li::before {
content: "•";
color: #8B0000; 
font-size: 18px;
margin-right: 8px;
}

.card-types {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
  

